.DS_Store

# dune
_build
.*objs
.merlin

# cpp
tools/visual/cmake-build-debug/
tools/visual/.idea/
tools/visual/release/
tools/visual/debug/
tools/visual/Visual
tools/visual/visual
tools/visual/external
tools/visual/gtest

# graphic
*.png

# jetbrains
.idea
