.DS_Store

# dune
_build
.*objs
.merlin

# cpp
tools/visual/cmake-build-debug/
tools/visual/.idea/
tools/visual/release/
tools/visual/build/
tools/visual/debug/
tools/visual/Visual
tools/visual/visual
tools/visual/external
tools/visual/gtest
tools/visual/clang_rec.sh
tools/visual/data/noises/*.in

#asy
tools/set/*.in

# graphic
*.png

#text
*.txt

# jetbrains
.idea

#other
*.zip

#model
imagetolatex/__pycache__/
imagetolatex/dataset/datasets/
*.h5
