.DS_Store

# dune
_build
.*objs
.merlin

# cpp
tools/visual/cmake-build-debug/
tools/visual/.idea/
tools/visual/release/
tools/visual/debug/
tools/visual/Visual
tools/visual/visual
tools/visual/external
tools/visual/gtest
tools/visual/clang_rec.sh

# graphic
*.png

#text
*.in
*.txt

# jetbrains
.idea

#other
*.zip
