---
BasedOnStyle: Google
BreakBeforeBraces: Allman
DerivePointerAlignment: 'false'
IndentWidth: '4'
IndentWrappedFunctionNames: 'true'
NamespaceIndentation: All
PointerAlignment: Left
SpaceBeforeParens: Never
Standard: Auto

...
